/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global CSS file */

.repositories-container {
  background-color: #f9fafb;
}

.filters .filter {
  background-color: #f1f5f9;
  color: #374151;
  padding: 8px 16px;
  border-radius: 24px;
}

.repository-cards .repo-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 16px;
}

.bg-sidebar-active {
  background-color: #f0f4fc; /* Background color of the active link */
  position: relative;
  padding-right: 16px;
  z-index: 2; /* Ensure it stays on top */
  overflow: hidden;
}
.editor-wrapper {
  display: flex;
  justify-content: space-between; /* Ensure space between editors */
  width: 100%; /* Full width for the container */
}

.editor-container {
  flex: 1; /* Each editor takes up half of the space */
  margin-right: 10px; /* Optional margin between the editors */
}

.editorjs-container-1,
.editorjs-container-2 {
  width: 100%; /* Ensure editors take up full width within their containers */
}

.editorjs-container .ce-block__content {
  justify-content: flex-start !important;
  text-align: left !important;
  margin-left: 2% !important;
  max-width: 100%; /* example value, adjust for your own use case */
}

/* src/index.css or any global CSS file */

/* Align Editor.js toolbars to the left */
.editorjs-container .ce-toolbar__plus {
  right: 10 !important; /* Ensure the plus button is aligned to the left */
}

.editorjs-container .ce-block__content {
  justify-content: flex-start !important; /* Ensure the block content is aligned to the left */
}

.editorjs-container .ce-toolbar__content {
  justify-content: flex-start !important; /* Ensure the toolbar content is aligned to the left */
  margin-right: 27% !important;
}

.editorjs-container .ce-toolbar__settings-btn {
  left: 0 !important; /* Align settings button to the left */
  right: auto !important;
}

.editorjs-container .ce-block__controls {
  left: 0 !important; /* Ensure the controls are aligned to the left */
  right: auto !important;
}

.editorjs-container .ce-toolbar__actions {
  justify-content: flex-start !important;
}

/* Custom scrollbar styling */
#chat-box::-webkit-scrollbar {
  width: 8px; /* Adjust width for a thinner scrollbar */
}

#chat-box::-webkit-scrollbar-track {
  background: #f0f4f8; /* Light background color for the track */
  border-radius: 10px;
}

#chat-box::-webkit-scrollbar-thumb {
  background-color: #a3b5e9; /* Color of the scrollbar handle */
  border-radius: 10px;
  border: 2px solid #f0f4f8; /* Adds padding around the thumb */
}

#chat-box::-webkit-scrollbar-thumb:hover {
  background-color: #a3b5e9; /* Lighter shade on hover */
}

/* Mozilla Firefox custom scrollbar styling */
#chat-box {
  scrollbar-width: thin; /* Reduces width of the scrollbar */
  scrollbar-color: #a3b5e9 #f0f4f8; /* thumb color and track color */
}
